:root {
  --color-texto-simple: #fff; /*textos simples*/
  --color-texto-fuerte: orange; /*textos fuertes*/
  --color-texto-alert: #fff; /*textos de las alertas*/

  --fondo-fuerte: url(../IMAGENES/temas/ladrillos/Stone_Bricks_29_JE3_BE2.webp);
  --fondo-simple: url(../IMAGENES/temas/ladrillos/Spruce_Planks_29_JE4_BE2.webp);
}

/* Reseteo básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", sans-serif;
  line-height: 1.6;
  background-image: var(--fondo-fuerte);
  color: var(--color-texto-simple);
}

header.hero {
  height: 100vh;
  background: url("../IMAGENES/temas/ladrillos/Portada.jpg") no-repeat center
    center/cover;
  color: var(--color-texto-simple);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 1rem;
  background-attachment: fixed;
}

header.hero h1 {
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 10px;
}

main {
  padding: 2rem 1rem;
  justify-content: center;
}
.temas {
  display: flex;
  flex-direction: column;
}
.icons-temas {
  background-image: var(--fondo-fuerte);
  padding: 10px;
  border-radius: 5px;
  transition: 1s;
}
section {
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 10px;
  /*background-color: var(--background-mosaicos-section);*/
  background-image: var(--fondo-simple);
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas */
  grid-gap: 20px; /* Espacio entre elementos */
}
.grid-container-resource {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Dos columnas */
  grid-gap: 20px; /* Espacio entre elementos */
}

/* Estilos para la sección "Bienvenida" */
.welcome {
  width: 100%; /* Ocupa todo el ancho disponible */
}

h2 {
  font-size: 2rem;
  color: var(--color-texto-fuerte);
  margin-bottom: 1rem;
}

.carousel-item {
  height: 100%;
}
.recurse-title {
  color: var(--color-texto-fuerte);
  font-size: 20px;
}

.Galery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.links a {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--color-texto-simple);
  text-decoration: none;
  margin: 10px;
}

.links a:hover {
  text-decoration: underline;
}

.links-containers {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  color: var(--color-texto-simple);
  font-size: 20px;
  padding: 10px;
  margin: 30px;
  text-align: center;
  /*background-color: var(--background-links);*/
  background-image: var(--fondo-fuerte);
  border: solid 2px var(--color-texto-fuerte);
}
.links-containers-icons {
  width: 10%;
}

footer {
  text-align: center;
  padding: 1rem;
  /*background-color: var(--color-footer)*/
  background-image: var(--fondo-simple);
  color: var(--color-texto-simple);
  display: flex;
}

footer h4 {
  font-size: 15px;
  color: var(--color-texto-fuerte);
}

footer p {
  font-size: 13px;
}
.border-color {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
.link-none-style {
  text-decoration: none;
  color: var(--color-texto-simple);
}
